

@font-face {
    font-family: $ff-RubikLight;
    src: url(../fonts/Rubik/static/Rubik-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $ff-RubikRegular;
    src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-RubikMedium;
    src: url(../fonts/Rubik/static/Rubik-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-RubikBold;
    src: url(../fonts/Rubik/static/Rubik-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: $ff-DMSerifDisplayRegular;
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: $ff-RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

