
$color-white: #fff;
$color-red: #EE4D47;
$color-black: #402B2B;
$color-bg-red: #FCDDD4;
$color-bg-red-white: #FFF7F5;


$ff-RubikLight: 'Rubik-Light';
$ff-RubikRegular: 'Rubik-Regular';
$ff-RubikMedium: 'Rubik-Medium';
$ff-RubikBold: 'Rubik-Bold';
$ff-DMSerifDisplayRegular: 'DMSerifDisplay-Regular';
$ff-RobotoBold: 'Roboto-Bold';